.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

label {
  width: max-content;
  color: tomato;
  font-size: 13px;
  border-bottom: 0.5px solid tomato;
  margin: 3px 0;
}

.desc {
  font-size: 14px;
}

.star {
  color: gold;
}

.username {
  font-style: 14px;
}
.date {
  font-style: 12px;
}

form {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid gray;
  padding-left: 3px;
  outline: none;
}

input::placeholder,
textarea::placeholder {
  font-size: 12px;
  color: rgb(199, 198, 198);
}

.submitButton {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
  background-color: tomato;
  cursor: pointer;
}

.button {
  border: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

.logout {
  background-color: tomato;
  cursor: pointer;
}
.login {
  background-color: teal;
  margin-right: 10px;
  cursor: pointer;
}
.register {
  background-color: slateblue;
  cursor: pointer;
}

.buttons,
.logout {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
